<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新加文章</title>
</head>
<body>
<form action="/index/edit_action" method="post">
    {% csrf_token %}
    <label>
        <input type="text" name="article_id" value="{{ article.id | default:'0' }}" hidden/>
    </label>
    <label>
        文章标题
        <input type="text" required name="title" value="{{ article.title }}"/>
    </label><br>
    <label>
        文章内容
        <textarea name="content" required>{{ article.content }}</textarea>
    </label><br>
    <input type="submit" value="提交">
</form>
</body>
</html>